#email_error {
	    background: red;
    opacity: .7;
    padding: 20px 5px;
    margin: 4px 0;
    width: 100%;
    text-align: center;
    color: white;
    display: none;
}

select{
		width: 25%;
		height: 48px;
}

input[type='password'] {
    width: 250px;
    height:  34px;
    font-size: 18px;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
textarea {
    height: 100px;
    /*background: #3a360e;*/
    /*color: white;*/
    font-size: 22px;
    border: 1px solid #3c2a2a;
    border-radius: 18px;
    text-transform: capitalize;
    text-indent: 10px;
    line-height: 1.8
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main p:first-child  {
    padding: 10px 5px;
    background: #414c4c;
    color: white;
    font-size: 20px;
    text-align: center;

}

main {
    padding: 10px;
}

textarea::placeholder {
    text-transform: capitalize;
    text-indent: 10px;
    line-height: 1.8
}

select {
    width: 70%;
    margin: auto;
}

option {
    font-weight: bold;
    font-size: 20px;
    direction: rtl
}



